audioread==2.1.6
backcall==0.1.0
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
idna==2.7
ipython==7.1.1
ipython-genutils==0.2.0
jedi==0.13.1
joblib==0.13.0
kiwisolver==1.0.1
librosa==0.6.2
llvmlite==0.25.0
matplotlib==3.0.2
numba==0.40.1
numpy==1.15.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
Pygments==2.3.0
pyparsing==2.3.0
python-dateutil==2.7.5
PyYAML==3.13
pyzmq==17.1.2
requests==2.20.1
resampy==0.2.1
scikit-learn==0.20.1
scipy==1.1.0
six==1.11.0
torch==0.3.0.post4
torchfile==0.1.0
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
urllib3==1.24.1
visdom==0.1.8.5
wcwidth==0.1.7
websocket-client==0.54.0
